root = true

[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true
#trim_trailing_whitespace = true
charset = utf-8

[*.json]
indent_style = space
indent_size = 4

[*.{md,yml}]
indent_style = space
indent_size = 2

[*.{bas,cls,frm,vba,doccls}]
indent_style = space
indent_size = 4
end_of_line = crlf
# Avoid line too long error (https://learn.microsoft.com/en-us/office/vba/language/reference/user-interface-help/line-too-long):
max_line_length = 1023
insert_final_newline = true
trim_trailing_whitespace = true
# We would like to use CP1252 for VBA files, but the editorconfig extension does not support it.
# Also, latin1 is supported, but doesn't match some of the encoding for €, ‰ and some other characters that are encoded in CP152 of the form 1XXXXXXX.
# This can lead to loss of information. See https://github.com/editorconfig/editorconfig-vscode/issues/474
charset = utf-8
