/lib
/dist
/tests/.tmp
/addins/build
/addins/**/build
/vendor
/scripts/registry
/worktrees
/local
/demo

# Office temporary files (https://github.com/DecimalTurn/VBA-on-GitHub)
~$*
.backup

# Access database lock files (laccdb, ldb)
*.[lL][aA][cC][cC][dD][bB]
*.[lL][dD][bB]

# OS and other
.env
.DS_Store
node_modules
*.log
*_LOCAL.md
*.code-workspace
local/

ghost-demo/
